extends ../templates/main.pug
include ../mixins/errors.pug

block content
	if(errors.length > 0)
		+errors(errors)

	h1.h2.mb0 New list
	p.mt0.mb2.f-gray.f-max.small Create a new list. The list and its tasks will be visible only to you until you share it with another user.


	form(method='post', action='/lists')
		label
			p.f-bold.f-gray.mb05 List name
			input.input.f-max(type='text', name='name', autofocus)

		label
			p.f-bold.f-gray.mb05 Description
			textarea.input.f-max.resize-v(name='description', rows='8')

		.flex.fl-alai-baseline
			button.btn.mt2(type='submit') Create list
			a.link.ml2(href='/lists') Cancel
