extends ../templates/main.pug
include ./_task.pug

block content
	h1.h3.mt3.mb0= list.name
	p.mt0.h5.f-max= list.description

	hr.hr2.b-gray05.round.my2

	div.new-task
		form(method='post', action=`/lists/${list.id}/tasks`)
			.flex.fl-alai-stretch.ml2
				input.input.rr0.f-max(type='text', name='title', autofocus, placeholder='Buy milk...')
				button.btn-icon.py0.px1.rr1.m0(type='submit')
					i.fas.fa-plus

	ul.plain-list
		each task in list.tasks
			li
				+task(task)
