doctype html
html(lang="en")
	head
		title= titulo
		script(src='main.js')
		link(href='main.css', rel='stylesheet')
	body
		h1 The quick brown fox jumps over the lazy dog
		h2 The quick brown fox jumps over the lazy dog
		h3 The quick brown fox jumps over the lazy dog
		h4 The quick brown fox jumps over the lazy dog
		h5 The quick brown fox jumps over the lazy dog
