doctype html
html(lang="en")
	head
		title= titulo
		script(src='/main.js')
		link(href='/main.css', rel='stylesheet')
	body
		nav
			ul
				li
					a(href='/lists') My lists
				li
					a(href='/shared') Shared with me
				li
					a(href='/search') Search

		block content
