doctype html
html(lang="en")
	head
		title= titulo
		script(src='/main.js')
		link(href='/main.css', rel='stylesheet')
		link(rel='stylesheet',
			href='https://use.fontawesome.com/releases/v5.0.13/css/all.css',
			crossorigin='anonymous')

	body
		include _nav.pug

		main.container
			block content
