$borders: ('0', '0'),
          ('1', '1px'  ),
          ('2', '.5rem'),
          ('3', '1rem');

@each $key, $val in $borders {
	.b#{$key}  { border:        #{$val} solid }
	.bt#{$key} { border-top:    #{$val} solid }
	.bb#{$key} { border-bottom: #{$val} solid }
	.bl#{$key} { border-left:   #{$val} solid }
	.br#{$key} { border-right:  #{$val} solid }
	.by#{$key} { border-top:    #{$val} solid;
	             border-bottom: #{$val} solid }
	.bx#{$key} { border-left:   #{$val} solid;
	             border-right:  #{$val} solid }
}

.b0 { border: none }

.round { border-radius: .25rem }
.circle { border-radius: 50%; }


$radiusSizes: ('0', '0'),
              ('1', '.25rem');

@each $key, $val in $radiusSizes {
	.r#{$key}  { border-radius: #{$val} }

	.rt#{$key} { border-top-left-radius:  #{$val};
				 border-top-right-radius: #{$val} }
	.rb#{$key} { border-bottom-left-radius:  #{$val};
				 border-bottom-right-radius: #{$val} }

	.rl#{$key} { border-top-left-radius:    #{$val};
				 border-bottom-left-radius: #{$val} }
	.rr#{$key} { border-top-right-radius:    #{$val};
				 border-bottom-right-radius: #{$val} }
}
