extends ../templates/plain.pug

block content
	form(method='post', action='/login')
		label
			p Email
			input(type='text', name='email')

		label
			p Password
			input(type='password', name='password')

		button(type='submit') Login